.cover-background {
    width: 75%;
}

@media (max-width: 576px) {
    .cover-background {
        width: 100%;
    }
}

.cast-hover {
    transition: .2s ease-in-out;
}

.cast-hover:hover {
    transform: translate(0, -5px);
}
