.swal2-actions .btn {
    margin-inline: 5px !important;
    padding-inline: 1rem !important;
    padding-block: .5rem !important;
    outline: none !important;
    border: none !important;
}

.swal2-actions .btn:focus {
    outline: none !important;
}
